.card-user{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 150px;
    background-color: #1565c0;
    border-radius: 8px;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-user .icon{
    font-size: 34px;
}

.card-user .content{
    display: flex;
    flex-direction: column;
}

.card-user .delete{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}